.border-5        { border: 5px solid !important; }
.border-top-5    { border-top: 5px solid !important; }
.border-right-5  { border-right: 5px solid !important; }
.border-bottom-5 { border-bottom: 5px solid !important; }
.border-left-5   { border-left: 5px solid !important; }

.border-top-danger    { border-top-color: $danger !important; }
.border-right-danger  { border-right-color: $danger !important; }
.border-bottom-danger { border-bottom-color: $danger !important; }
.border-left-danger   { border-left-color: $danger !important; }

.border-top-primary    { border-top-color: $primary !important; }
.border-right-primary  { border-right-color: $primary !important; }
.border-bottom-primary { border-bottom-color: $primary !important; }
.border-left-primary   { border-left-color: $primary !important; }

.border-top-warning    { border-top-color: $warning !important; }
.border-right-warning  { border-right-color: $warning !important; }
.border-bottom-warning { border-bottom-color: $warning !important; }
.border-left-warning   { border-left-color: $warning !important; }

.border-top-transparent    { border-top-color: transparent !important; }
.border-right-transparent  { border-right-color: transparent !important; }
.border-bottom-transparent { border-bottom-color: transparent !important; }
.border-left-transparent   { border-left-color: transparent !important; }
