.react-datepicker {
  &-wrapper {
    display: block;
  }

  &__day{
    &:hover{
      background: $secondary;
      color: $white;
    }
    &--selected{
      background: $primary;
      &:hover{
        background: $primary;
      }
    }
    &--keyboard-selected{
      background: $primary;
      color: $white;
      &:hover{
        background: $primary;
      }
    }
  }

  &__month{
    &-text{
      &.react-datepicker__month--selected:hover{
        background: $primary;
      }
      &:hover{
      background: $secondary;
      color: $white;
      }
    }
    &-text--keyboard-selected{
      background: $primary;
      color: $white;
      &:hover{
        background: $primary;
      }
    }
  }

  &__year{
    &-text:hover{
      background: $secondary;
      color: $white;
    }
    &-text--selected{
      background: $primary;
      &:hover{
        background: $primary;
      }
    }
    &-text--keyboard-selected{
      background: $primary;
      color: $white;
      &:hover{
        background: $primary;
      }
    }
  }
}
